html,body{
    height: 100%;
    margin: 0;
}
#bg{
    background-image: url('image.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#cardHeader{
    background-color: rgba(255, 255, 255,0.3);
}
.container{
    padding-top: 40;
}
#card{
    border-radius: 3px 30px;
    background-color: rgba(255, 255, 255, 0.8);
}
#displayItems{
    font-style: italic;
}
input[type="text"],input[type="checkbox"],input[type="date"],button{
    box-shadow: 6px 6px 14px 0 rgba(0, 0, 0, 0.2);
}
#itemSection{
    font-family: 'Fjalla One', sans-serif;
}
h1{
    font-family: 'Mate SC', serif;
}